
* {
    margin: 0%;
    padding: 0%;
}

.top {
    background: linear-gradient(#4eb1fe, #f4f9fd, #3b9b07);
    height: 100vh;
    width: 100vw;
    /* position: sticky;
top: 0px; */
    /* background: linear-gradient(#4eb1fe, #f4f9fd); */
    padding-top: 100px;
    position: relative;
}

.stand {
    margin-left: 40%;
    height: 90vh;
    width: 1vw;
    border: 2px solid brown;
    border-radius: 10px;
    background-color: brown;
    position: absolute;
    z-index: 10;
}


.stairs {
    margin-top: 591px;
    position: relative;
}

.stair {
    margin-left: 35%;
    height: 6vh;
    width: 11vw;
    border: 2px solid brown;
    background-color: brown;
    border-radius: 10px 10px 0px 0px;
    /* z-index: 11px; */
}

#s-2 {
    margin-left: 31%;
    width: 20vw;
}

#s-3 {
    margin-left: 27%;
    width: 28vw;
}


.flag {
    margin-top: 10px;
}

.flags {
    margin-left: 15px;
    /* display: block; */
    height: 10vh;
    width: 20vw;
    animation: wave 1.3s infinite;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#f-1 {
    border-radius: 0 10px 0 0;
    background-color: #f46c42;
}

#f-2 {
    border-radius: 0 0 0 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

#f-2 img {
    height: 73px;
    width: 90px;
}

#f-3 {
    border-radius: 0 0 10px 0;
    background-color: green;
}

.grass {
    display: flex;
    margin-top: -180px;
}

.grass img {
    width: 50%;
}


@media screen and (max-width : 600px) {

    #s-1 {
        margin-left: 18%;
        width: 25vw;
    }

    #s-2 {
        margin-left: 7%;
        width: 45vw;
    }

    #s-3 {
        margin-left: -2%;
        width: 68vw;
    }

    .flags {
        margin-left: 5px;
    }

    .flags {

        height: 10vh;
        width: 64vw;
    }

    .stand {
        margin-left: 30%;
    }

    .grass {
        display: flex;
        margin-top: -60px;
    }

}
